- name: Check if node already joined
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubeletconf_stat

- name: Join node to cluster
  when: not kubeletconf_stat.stat.exists and not ansible_check_mode
  ansible.builtin.command: "{{ k8s_join_command_from_master }}"
  changed_when: true


