k8s_disable_ufw: true

# /etc/hosts entries to write. If empty, the role will auto-build it from the inventory
# group `k8s_cluster` using each host's `ansible_host` (or the inventory hostname).
k8s_hosts_entries: []

k8s_disable_swap: true

# Run reset/cleanup steps before init when true.
k8s_enable_reset: false

# Container runtime selection: "docker" or "containerd"
k8s_container_runtime: "docker"

# Set to "" to skip.
k8s_timezone: "Asia/Shanghai"

chrony_servers:
  - "ntp.aliyun.com"
  - "ntp1.aliyun.com"
  - "cn.pool.ntp.org"

limits_conf_block: |
  * soft nofile 100000
  * hard nofile 100000
  * soft nproc 65535
  * hard nproc 65535
  * soft memlock unlimited
  * hard memlock unlimited

ipvs_packages:
  - ipvsadm
  - ipset
  - sysstat
  - conntrack
  - libseccomp2

# A minimal, practical set for K8s + IPVS.
k8s_kernel_modules:
  - overlay
  - br_netfilter
  - ip_vs
  - ip_vs_rr
  - ip_vs_wrr
  - ip_vs_sh
  - nf_conntrack
  - ip_tables
  - ip_set
  - xt_set
  - ipt_set
  - ipt_rpfilter
  - ipt_REJECT
  - ipip

k8s_sysctl_params:
  net.ipv4.ip_forward: 1
  net.bridge.bridge-nf-call-iptables: 1
  net.bridge.bridge-nf-call-ip6tables: 1
  fs.may_detach_mounts: 1
  net.ipv4.conf.all.route_localnet: 1
  vm.overcommit_memory: 1
  vm.panic_on_oom: 0
  fs.inotify.max_user_watches: 89100
  fs.file-max: 52706963
  fs.nr_open: 52706963
  net.netfilter.nf_conntrack_max: 2310720
  net.ipv4.tcp_keepalive_time: 600
  net.ipv4.tcp_keepalive_probes: 3
  net.ipv4.tcp_keepalive_intvl: 15
  net.ipv4.tcp_max_tw_buckets: 36000
  net.ipv4.tcp_tw_reuse: 1
  net.ipv4.tcp_max_orphans: 327680
  net.ipv4.tcp_orphan_retries: 3
  net.ipv4.tcp_syncookies: 1
  net.ipv4.tcp_max_syn_backlog: 16384
  net.ipv4.ip_conntrack_max: 65536
  net.ipv4.tcp_timestamps: 0
  net.core.somaxconn: 16384

docker_registry_mirrors:
  - "https://jsrg2e0s.mirror.aliyuncs.com"
  - "https://docker.m.daocloud.io"
  - "https://docker.nju.edu.cn"
  - "https://docker.anyhub.us.kg"
  - "https://dockerhub.jobcher.com"
  - "https://dockerhub.icu"
  - "https://docker.ckyl.me"
  - "https://registry.docker-cn.com"

docker_insecure_registries:
  - "https://harbor.apotos.com"

docker_log_max_size: "100m"
docker_log_max_file: "3"
docker_storage_driver: "overlay2"
docker_live_restore: true
docker_cgroup_driver: "systemd"

# Containerd packages (when k8s_container_runtime=containerd)
containerd_packages:
  - containerd.io

# Pause image used by containerd (matches cri-dockerd default)
containerd_pause_image: "registry.cn-hangzhou.aliyuncs.com/google_containers/pause:3.9"

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin

# Apt repo arch (dpkg --print-architecture). Most homelabs here are amd64.
docker_apt_arch: "{{ 'amd64' if ansible_architecture in ['x86_64', 'amd64'] else ansible_architecture }}"
k8s_apt_arch: "{{ 'amd64' if ansible_architecture in ['x86_64', 'amd64'] else ansible_architecture }}"

# Kubernetes apt repo channel (Aliyun mirror)
k8s_version_channel: "v1.32"

cri_dockerd_deb_url: "https://github.com/Mirantis/cri-dockerd/releases/download/v0.3.22/cri-dockerd_0.3.22.3-0.ubuntu-{{ ansible_distribution_release }}_amd64.deb"
cri_dockerd_pause_image: "registry.cn-hangzhou.aliyuncs.com/google_containers/pause:3.9"

# Local artifact (controller-side). Put the deb here to avoid downloading during runs:
#   ./files/cri-dockerd.deb (relative to playbook_dir)
cri_dockerd_local_deb_src: "{{ playbook_dir }}/files/cri-dockerd_0.3.22.3-0.ubuntu-{{ ansible_distribution_release }}_amd64.deb"
cri_dockerd_local_deb_dest: "/tmp/cri-dockerd.deb"


